#product_suggestion_box {
	position:absolute;
	padding:3px;
	border:1px solid;
	background-color:#fff;
}
#product_suggestion_box ul {
	border:1px solid #ccc;
	padding:3px; 
}
#product_suggestion_box ul li{
	margin:2px;
	padding:3px 5px;
	border:1px solid #ccc;
	cursor:pointer;
}
#products_grid  {
	border:1px solid;
	padding:5px;
}
#products_grid li div.product-content {
	padding:5px;
	border:1px solid #ccc;
	float:left;
	height:23px;
	width:150px;
}
#products_grid li div.product-content-header {
	padding:5px;
	border:1px solid #ccc;
	float:left;
	height:23px;
	background-color:#fff;
	width:150px;
}
.clear-float {
	float:none;
	clear:both;
}
div.p-name{
	width:400px !important;
}
div.p-qty {
	width:185px !important;
	text-align:right;
}
div.p-cost {
	width:300px !important;
	text-align:right;
}
/*div.p-input {
	width:165px !important;
}*/
#products_grid li input {
	text-align:right;
}
div.p-total{
	text-align:right;
}
div.p-remove{
	text-align:center;
}
#products_grid li a {
	cursor:pointer;
}
.orderspro-delete{
	float:right;
	text-decoration:none;
}
.note-list li {
	padding-top:5px;
	background-position:0 7px;
}
#product_suggestion_box .close-button { text-align:right; padding:0 3px; border:none; margin:0;}
#product_suggestion_box .close-button a { text-decoration:none }