<?xml version="1.0"?>
<config>
    <modules>
        <Angelleye_PaypalBanner>
            <version>1.0.2</version>
        </Angelleye_PaypalBanner>
    </modules>
    <global>
        <helpers>
            <paypalbanner>
                <class>Angelleye_PaypalBanner_Helper</class>
            </paypalbanner>
        </helpers>
        <blocks>
            <paypalbanner>
                <class>Angelleye_PaypalBanner_Block</class>
            </paypalbanner>
        </blocks>
        <models>
            <paypalbanner>
                <class>Angelleye_PaypalBanner_Model</class>
            </paypalbanner>
            <paypal>
                <rewrite>
                    <config>Angelleye_PaypalBanner_Model_Config</config>
                </rewrite>
            </paypal>
        </models>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <angelleye_paypalbanner>
                        <class>paypalbanner/observer</class>
                        <method>layoutGenerateBlocksBefore</method>
                    </angelleye_paypalbanner>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
    </global>
    <frontend>
        <routers>
            <paypalbanner>
                <use>standard</use>
                <args>
                    <module>Angelleye_PaypalBanner</module>
                    <frontName>paypalbanner</frontName>
                </args>
            </paypalbanner>
        </routers>
    </frontend>
    <default>
        <paypalbanner>
            <settings>
                <container><![CDATA[<div style="width: 100%; text-align: center; padding-bottom: 7px ">{container}</div>]]></container>
                <api_secret></api_secret>
                <api_access_key></api_access_key>
                <api_bn_code>AngellEYE_PHPClass</api_bn_code>
                <api_endpoint>https://api.financing.paypal.com/finapi/v1/publishers/</api_endpoint>
                <api_proxy_endpoint>http://www.angelleye.com/web-services/paypal-bml/FinancingBannerEnrollment.php</api_proxy_endpoint>
            </settings>
            <settings-sandbox>
                <api_secret></api_secret>
                <api_access_key></api_access_key>
                <api_bn_code>AngellEYE_PHPClass</api_bn_code>
                <api_endpoint>https://api.financing-mint.paypal.com/finapi/v1/publishers/</api_endpoint>
                <api_proxy_endpoint>http://www.angelleye.com/web-services/paypal-bml/FinancingBannerEnrollment.php</api_proxy_endpoint>
            </settings-sandbox>
        </paypalbanner>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Angelleye_PaypalBanner before="Mage_Adminhtml">Angelleye_PaypalBanner</Angelleye_PaypalBanner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <paypalbanner translate="title" module="paypalbanner">
                                            <title>PayPal Banners Settings</title>
                                        </paypalbanner>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>