<?xml version="1.0"?>
<config>
    <modules>
        <MagentoGarden_Transparentwatermark>
            <version>1.3.0</version>
            <platform>CE</platform>
            <id>transparentwatermark</id>
            <name>Transparent Watermark</name>
            <url>http://www.magentogarden.com/transparent-watermark.html</url>
        </MagentoGarden_Transparentwatermark>
    </modules>
    <frontend>
        <routers>
            <transparentwatermark>
                <use>standard</use>
                <args>
                    <module>MagentoGarden_Transparentwatermark</module>
                    <frontName>transparentwatermark</frontName>
                </args>
            </transparentwatermark>
        </routers>
        <layout>
            <updates>
                <transparentwatermark>
                    <file>transparentwatermark.xml</file>
                </transparentwatermark>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <transparentwatermark>
                <class>MagentoGarden_Transparentwatermark_Model</class>
                <resourceModel>transparentwatermark_mysql4</resourceModel>
            </transparentwatermark>
            <transparentwatermark_mysql4>
                <class>MagentoGarden_Transparentwatermark_Model_Mysql4</class>
                <entities>
                    <transparentwatermark>
                        <table>transparentwatermark</table>
                    </transparentwatermark>
                </entities>
            </transparentwatermark_mysql4>
            <catalog>
            	<rewrite>
            		<product_image>MagentoGarden_Transparentwatermark_Model_Image</product_image>
            	</rewrite>
            </catalog>
        </models>
        <resources>
            <transparentwatermark_setup>
                <setup>
                    <module>MagentoGarden_Transparentwatermark</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </transparentwatermark_setup>
            <transparentwatermark_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </transparentwatermark_write>
            <transparentwatermark_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </transparentwatermark_read>
        </resources>
        <blocks>
            <transparentwatermark>
                <class>MagentoGarden_Transparentwatermark_Block</class>
            </transparentwatermark>
        </blocks>
        <helpers>
            <transparentwatermark>
                <class>MagentoGarden_Transparentwatermark_Helper</class>
            </transparentwatermark>
        </helpers>
        <rewrite>
        	<magentogarden_transparentwatermark_config>
        		<from><![CDATA[#^/admin/system_config/edit#]]></from>
        		<to>/admin/tconfig/edit</to>
        		<to>/transparentwatermark/adminhtml_tconfig/edit</to>
        	</magentogarden_transparentwatermark_config>
     	</rewrite>
    </global>
    <admin>
		<routers> 
			<adminhtml>
				<args>
					<modules>
						<transparentwatermark>MagentoGarden_Transparentwatermark_Adminhtml</transparentwatermark>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
    <default>
		<magentogarden_transparentwatermark>
			<general>
				<enabled_transparentwatermark>0</enabled_transparentwatermark>
				<transparentwatermark_sample_image_width>400</transparentwatermark_sample_image_width>
				<transparentwatermark_sample_image_height>400</transparentwatermark_sample_image_height>
				<enabled_custom_position>0</enabled_custom_position>
				<transparentwatermark_custom_position_x>0</transparentwatermark_custom_position_x>
				<transparentwatermark_custom_position_y>0</transparentwatermark_custom_position_y>
			</general>
		</magentogarden_transparentwatermark>
	</default>
</config>