<?xml version="1.0"?>
<config>
     <modules>
        <Rvtech_Barcodes>
          <version>1.0.16</version>
        </Rvtech_Barcodes>
     </modules>
    <admin>
     <routers>
         <barcodes>
            <use>admin</use>
            <args>
               <module>Rvtech_Barcodes</module>
               <frontName>barcode_admin</frontName>
            </args>
         </barcodes>
      </routers>
    </admin>
     <adminhtml>
       <layout>
          <updates>
              <barcodes>
                  <file>barcodes.xml</file>
               </barcodes>
          </updates>
       </layout>
       <menu>
          <barcodes translate="title" module="adminhtml">
             <title>Serials</title>
             <sort_order>91</sort_order>
             <children>
                  <set_time>
                       <title>Serials</title>
                       <action>barcode_admin/adminhtml_barcodes/</action>
                       <sort_order>10</sort_order>
                  </set_time>
                  <set_new>
                       <title>Generate Serials</title>
                       <action>barcode_admin/adminhtml_barcodes/new</action>
                       <sort_order>30</sort_order>
                  </set_new>
              </children>
           </barcodes>
        </menu>
        <acl>
          <resources>
            <admin>
                <children>
                    <barcodes translate="title" module="adminhtml">
                        <title>Serials</title>
                        <sort_order>300</sort_order>
                        <children>
                            <set_new>
                                 <title>Generate Serials</title>
                                 <sort_order>10</sort_order>
                            </set_new>
                            <set_time>
                                 <title>Serials</title>
                                 <sort_order>20</sort_order>
                            </set_time>
                        </children>
                    </barcodes>
                </children>
            </admin>
         </resources>
      </acl>
    </adminhtml>
    <global>
           <blocks>
               <barcodes>
                    <class>Rvtech_Barcodes_Block</class>
               </barcodes>
            </blocks>
            <models>
                  <barcodes>
                       <class>Rvtech_Barcodes_Model</class>
                       <resourceModel>barcodes_mysql4</resourceModel>
                   </barcodes>
                  <barcodes_mysql4>
                       <class>Rvtech_Barcodes_Model_Mysql4</class>
                       <entities>
                           <barcodes>
                             <table>barcodes</table>
                           </barcodes>
                        </entities>
                  </barcodes_mysql4>
            </models>
            <resources>
                <barcodes_setup>
                      <setup>
                          <module>Rvtech_Barcodes</module>
                          <class>Mage_Eav_Model_Entity_Setup</class>
                      </setup>
                      <connection>
                        <use>core_setup</use>
                    </connection>
                </barcodes_setup>
                    <!-- connection to write -->
                    <barcodes_write>
                        <connection>
                            <use>core_write</use>
                        </connection>
                    </barcodes_write>
                   <!--connection to read 
                   <barcodes_read>
                      <connection>
                         <use>core_read</use>
                      </connection>
                   </barcodes_read>-->
            </resources>
      </global>
</config>