<?xml version="1.0"?>
<config>
    <modules>
        <Ecommerceguys_Inventorymanager>
            <version>0.1.0</version>
        </Ecommerceguys_Inventorymanager>
    </modules>
    <frontend>
        <routers>
            <inventorymanager>
                <use>standard</use>
                <args>
                    <module>Ecommerceguys_Inventorymanager</module>
                    <frontName>inventorymanager</frontName>
                </args>
            </inventorymanager>
        </routers>
        <layout>
            <updates>
                <inventorymanager>
                    <file>inventorymanager.xml</file>
                </inventorymanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<inventorymanager>
				<use>admin</use>
				<args>
					<module>Ecommerceguys_Inventorymanager</module>
					<frontName>inventorymanager</frontName>
				</args>
			</inventorymanager>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Ecommerceguys_Inventorymanager>
							<title>Inventorymanager Module</title>
							<sort_order>10</sort_order>
						</Ecommerceguys_Inventorymanager>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<inventorymanager>
					<file>inventorymanager.xml</file>
				</inventorymanager>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <helpers>
            <inventorymanager>
                <class>Ecommerceguys_Inventorymanager_Helper</class>
            </inventorymanager>
        </helpers>
    </global>
</config>