<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ecommerceguys_Inventorymanager>
            <version>0.4.6</version>
        </Ecommerceguys_Inventorymanager>
    </modules>
    <frontend>
        <routers>
            <inventorymanager>
                <use>standard</use>
                <args>
                    <module>Ecommerceguys_Inventorymanager</module>
                    <frontName>inventorymanager</frontName>
                </args>
            </inventorymanager>
        </routers>
        <layout>
            <updates>
                <inventorymanager>
                    <file>inventorymanager.xml</file>
                </inventorymanager>
            </updates>
        </layout>
    </frontend>
    <global>
    	<models>
    		<core>
    			<rewrite>
    				<design_package>Ecommerceguys_Inventorymanager_Model_Core_Design_Package</design_package>
    			</rewrite>
    		</core>
            <inventorymanager>
                <class>Ecommerceguys_Inventorymanager_Model</class>
                <resourceModel>inventorymanager_resource</resourceModel>
            </inventorymanager>
            <inventorymanager_resource>
            	<class>Ecommerceguys_Inventorymanager_Model_Resource</class>
            	 <entities>
                    <vendor>
                        <table>inventorymanager_vendor</table>
                    </vendor>
                    <purchaseorder>
                    	<table>inventorymanager_purchase_order</table>
                    </purchaseorder>
                    <product>
                    	<table>inventorymanager_product</table>
                    </product>
                     <comment>
                    	<table>inventorymanager_pohistory</table>
                    </comment>
                    <vendor_productinfo>
                    	<table>inventorymanager_vendor_productdetail</table>
                    </vendor_productinfo>
                    <label>
                    	<table>inventorymanager_purchaseorder_label</table>
                    </label>
                    <label_comment>
                    	<table>inventorymanager_purchaseorder_label_comment</table>
                    </label_comment>
                    <label_history>
                    	<table>inventorymanager_purchaseorder_label_history</table>
                    </label_history>
                    <vendor_deletedlocation>
                    	<table>inventorymanager_vendor_deleted_location</table>
                    </vendor_deletedlocation>
                    <vendor_employee>
                    	<table>inventorymanager_vendor_employee</table>
                    </vendor_employee>
                </entities>
            </inventorymanager_resource>
        </models>
        <resources>
            <inventorymanager_setup>
                <setup>
                    <module>Ecommerceguys_Inventorymanager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inventorymanager_setup>
            <inventorymanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </inventorymanager_write>
            <inventorymanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </inventorymanager_read>
        </resources>
        <helpers>
            <inventorymanager>
                <class>Ecommerceguys_Inventorymanager_Helper</class>
            </inventorymanager>
        </helpers>
        <blocks>
            <inventorymanager>
                <class>Ecommerceguys_Inventorymanager_Block</class>
            </inventorymanager>
            <adminhtml>
            	<rewrite>
            		<catalog_product_edit_tabs>Ecommerceguys_Inventorymanager_Block_Adminhtml_Product_Tabs</catalog_product_edit_tabs>
            		<sales_order_view_tabs>Ecommerceguys_Inventorymanager_Block_Adminhtml_Sales_Order_View_Tabs</sales_order_view_tabs>
           		</rewrite>
            </adminhtml>
        </blocks>
        <template>
			<email>
				<purchaseorder_email module="inventorynamager">
					<label>Purchase Order Email</label>
					<file>purchaseorder_email.html</file>
					<type>html</type>
				</purchaseorder_email>
			</email>
		</template>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <inventorymanager>
                    <file>inventorymanager.xml</file>
                </inventorymanager>
            </updates>
        </layout>
        <menu>
			<inventorymanager module="inventorymanager">
				<title>Inventory Manager</title>
				<sort_order>71</sort_order>               
				<children>
					<vendor module="inventorymanager">
						<title>Manage Vendors</title>
						<sort_order>0</sort_order>
						<action>inventorymanager/adminhtml_vendor</action>
					</vendor>
					<purchaseorder module="inventorymanager">
						<title>Purchase Order</title>
						<sort_order>1</sort_order>
						<action>inventorymanager/adminhtml_purchaseorder</action>
					</purchaseorder>
				</children>
			</inventorymanager>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<inventorymanager  translate="title" module="inventorymanager">
											<title>Inventory Manager</title>
										</inventorymanager>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<events>
	        <core_block_abstract_prepare_layout_before>
	            <observers>
	                <newmodule_core_block_abstract_prepare_layout_before>
	                    <class>inventorymanager/observer</class>
	                    <method>addMassAction</method>
	                </newmodule_core_block_abstract_prepare_layout_before>
	            </observers>
	        </core_block_abstract_prepare_layout_before>
	        <sales_order_shipment_save_after>
	        	<observers>
	                <inventorymanager_order_shipment_save_after>
	                    <class>inventorymanager/observer</class>
	                    <method>saveShipmentAfter</method>
	                </inventorymanager_order_shipment_save_after>
	            </observers>
	        </sales_order_shipment_save_after>
	    </events>
    </adminhtml>
    <admin>
        <routers>
            <inventorymanager>
                <use>admin</use>
                <args>
                    <module>Ecommerceguys_Inventorymanager</module>
                    <frontName>inventorymanager</frontName>
                </args>
            </inventorymanager>
        </routers>
    </admin>
</config>