.products-table{
	width:100%;
}

.products-table td {
	padding:5px;
}
.products-table .heads td {
	font-weight:bold;
}
div.logout{
	padding:5px;
	border:1px solid;
	margin:5px 0;
	text-align:right;
}
.vendor-table td{
padding:5px;
}